/* font
font-family: 'Raleway', sans-serif;
*/

/*
colors:
bleu : cornflowerblue;
gris: #2d3436;
blanc: white;
*/

:root{
    --main-color: cornflowerblue;
}


/**************** general ****************/

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #2d3436;
    position: relative;
    max-width: 1440px;
    margin: auto;
}


.box {
    padding: 30px 0px;
    max-width: 600px;
    margin: auto;
}

.box__title {
    text-align: center;

}

.box__img {
    padding-top: 20px;
}

img {
    display: block;
    margin: auto;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: 10px;
    border: solid grey 1px;

}

/**************** = HEADER-BOX (Header + menu)****************/
.header__box {
    width: 100%;
    margin: 40px 0px;
    display: flex;
    height: auto;
    align-items: center;
}

header {
    width: 30%;
    padding: 0px 30px;
    text-align: center;
}

header h1 {
    border-bottom: #2d3436 1px solid;
    padding-bottom: 20px;
}


.menu {
    width: 70%;
}

.menu__content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.menu__link:hover,
.menu__link:active {
    text-shadow: white 0px 0px 10px;
}

.menu__link:focus {
    box-shadow: white 0px 0px 10px;
    padding: 10px;
}

/****************************/

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}


.container-padding {
    padding: 0px 20px;
    width: 80%;
    margin: auto;
}

/****************************/


#rdv__link {
    text-decoration: none;
    color: var(--main-color);
    text-align: center !;
    padding: 20px 0px;
}

.rdv__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0px;
}


.coordonnes {
    display: flex;
    justify-content: space-around;
}

/**************** = plan****************/

.iframe__box {
    text-align: center;
    padding: 20px 0px;
}

iframe {
    max-width: 80%;
}


/* = contact*/

.adress {
    text-align: center;
}

.Coordonnees__fas {
    margin: 5px;
}


/**************** = footer ****************/

footer {
    line-height: 50px;
    text-align: center;
}


/**************** = media queries****************/
@media screen and (max-width: 650px) {
    .header__box {
        display: flex;
        flex-direction: column;
    }

    .menu,
    header {
        width: 100%;
        padding: 0px 0px;
    }

    .adress {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .menu__content {
        flex-direction: column;
    }

    .menu__content li {
        border-bottom: solid white 1px;
        width: 100%;
        text-align: center;
    }
}

html {
    scroll-behavior: smooth;
}
